@using Microsoft.AspNetCore.Http.Extensions
@model PizzaDelivery.Models.AdditionalProduct?

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<p>@Model.Cost</p>

<a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" asp-route-url="@Context.Request.GetEncodedUrl()">Добавить в корзину</a>