@{
    ViewData["Title"] = "Самая вкусная пицца в Казани";
}

<div class="text-center">
    <h1 class="display-4">Сделайте заказ прямо сейчас и получите еще одну пиццу в подарок!</h1>
    <p>(акция действует для новых клиентов при заказе от 990₽)</p>
</div>