@{
    ViewData["Title"] = "Самая вкусная пицца в Казани";
}
<style>
   .text {
    position: center;
    text-align:  center;
    width:100%;
    top:50%;
   }
</style>

<body background="pizza_bg.png">
<div class="text">
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 class="fw-bold">Привет!</h1>
    <p class="fs-2">Не проспи свою пиццу - закажи доставку на дом прямо сейчас!</p>
</div>    
</body>