@{
    ViewData["Title"] = "Самая вкусная пицца в Казани";
}

<div class="text-center">
    <h1 class="display-4">Сделайте заказ прямо сейчас и получите еще одну пиццу в подарок!</h1>
    <p>(акция действует для новых клиентов при заказе от 990₽)</p>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.054230035414!2d49.14208321622868!3d55.77492998055932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead3e551d8929%3A0x6e36eb1e7830f31d!2z0J_QsNC_0LAg0JTQttC-0L3RgSDQn9C40YbRhtCw!5e0!3m2!1sru!2sru!4v1637016000266!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>