@{
    ViewData["Title"] = "Самая вкусная пицца в Казани";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">

<style>
   .text {
    color: white;
    position: center;
    text-align:  center;
    width:100%;
    top:50%;
   }
    body {
       -moz-background-size: 100%; /* Firefox 3.6+ */
       -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
       -o-background-size: 100%; /* Opera 9.6+ */
       background-size: 100%; /* Современные браузеры */
      }
</style>

<body background="pizza_bg.jpg">
<div class="text">
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 class="fw-bold" style="font-family: 'Montserrat', sans-serif;">Привет!</h1>
    <p class="fs-2" style="font-family: 'Montserrat', sans-serif;">Не проспи свою пиццу - закажи доставку на дом прямо сейчас!</p>
</div>    
</body>