@model System.Collections.Generic.List<PizzaDelivery.Models.CartItem>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
@{
    foreach (var item in Model)
    {
        <p>@item.Product.Name</p>
    }
}
