@using Microsoft.AspNetCore.Http.Extensions
@model System.Collections.Generic.List<PizzaDelivery.Models.CartItem>

@{
    ViewBag.Title = "Корзина";
    Layout = "_Layout";
}

<br>
<h2>Корзина</h2>
<br>
<div class="div-outline">
    <div>
        @{
            foreach (var item in Model)
            {
                <p>@item.Product.Name</p>
            }
            <a asp-controller="Cart" asp-action="RemoveAll" asp-route-url="@Context.Request.GetEncodedUrl()">Отчистить корзину</a>
        }
    </div>
</div>



