@model User

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";
}
<style>
   .div-outline {
    border: 1px solid #e2a100;
    padding: 10px;
   }
</style>

<br>
<h2>Личный кабинет</h2>
<br>
<h5>@Model.Name @Model.Surname</h5>
<h6>Ваш e-mail: @Model.Email</h6>
<p>Дата рождения: @Model.DateOfBirthday.ToString("dd.MM.yyyy")</p>

<br/>
<h4>Ваши заказы:</h4>
<div class="div-outline">
    <div>
        coming soon...
    </div>
</div>